body {
    font-family: sans-serif;
    background-image: url('https://cs5.pikabu.ru/images/big_size_comm/2015-10_3/1444648049162275151.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #fff;

    /* Подключение шрифтов */
    /* font-family: ;
    src: ;
    font-weight: ;
    font-style: ;
    font-display: swap; */
}

html {
    height: 100%;
}