body {
    font-family: 'Effra';
    /* font-family: 'Roboto', sans-serif; */
    /* background-image: url('https://cdn-icons.flaticon.com/png/512/4069/premium/4069891.png?token=exp=1654780322~hmac=c58a80489d385309684b42334fac7b64');
    background-repeat: repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    height: 100%;
    /* font-size: 64px; */
    /* color: #fff; */
    margin: 0;
}

h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

/* Global */
.container {
    width: 1160px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.col {
    padding: 0 20px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    box-sizing: border-box;
}

.section {
    padding-top: 140px;
    padding-bottom: 140px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
}

.button {
    padding: 16px 32px;
    border: 0;
    border-radius: 29px;
    background-color: #A8FF35;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.button--secondary {
    background-color: #000;
    color: #fff;
}

/* Price */
.price {
    background: #000;
    color: #fff;
}

.price .title {
    text-align: center;
    margin-bottom: 40px;
}

.price-item {
    padding: 32px 32px 24px;
    background-color: #FAFAFA;
    color: #000;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-top: ;
    padding-left: ;
    padding-right: ;
    padding-bottom: ; */
}

.price-item--accent {
    background-color: #A8FF35;
}

/* .price-item--accent .button {
    background-color: #000;
    color: #fff;
} */

.price-item__head {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.price-item__head h3 {
    font-size: 36px;
}

.price-item__head p {
    margin-top: 8px;
    font-size: 18px;
}

.price-item__body {
    flex: 1 0 auto;
}

.price-item__price,
.price-item__list {
    padding-top: 32px;
}

.price-item__price {
    font-weight: 400;
    font-size: 64px;
    /* line-height: 100%; */
}

.price-item__price span {
    font-size: 18px;
    margin-left: 8px;
}

.price-item__list li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    padding-left: 27px;
    font-size: 18px;
}

.price-item__list li::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: 9px;
    width: 14px;
    background-image: url('../images/icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}

.price-item__list li:last-child {
    margin-bottom: 0;
}

.price-item .button {
    margin-top: 43px;
    width: 100%;
}

/* price switcher */
.price-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.price-switcher__wrapper {
    position: relative;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.price-switcher .toggle {
    margin: 0 24px;
}

.price-switcher span {
    font-size: 24px;
    color: #F5F5F5;
    opacity: 0.5;
}

.price-switcher span:first-child {
    opacity: 1;
}

.toggle {
    position: relative;
    width: 104px;
    height: 52px;
    background-color: #fff;
    border-radius: 99px;
    cursor: pointer;
}

.toggle::after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 35px;
    height: 35px;
    background-color: #A8FF35;
    border-radius: inherit;
}

.discont {
    position: absolute;
    right: -106px;
    font-family: 'gooddognew';
    font-size: 14px;
    text-align: center;
    display: inline-block;
    transform: rotate(6deg);
    margin-left: 40px;
    top: -8px;
}

.discont::after {
    content: '';
    display: block;
    margin-top: 6px;
    margin-left: -11px;
    height: 28px;
    width: 35px;
    background-image: url('../images/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-2deg);
}

/* Подключение шрифтов */
@font-face {
    font-family: 'Effra';
    src: local('Effra Regular'), local('Effra-Regular'),
        url('../fonts/Effra.woff2') format('woff2'),
        url('../fonts/Effra.woff') format('woff'),
        url('../fonts/Effra.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Effra';
    src: local('Effra Bold'), local('Effra-Bold'),
        url('../fonts/Effra-Bold.woff2') format('woff2'),
        url('../fonts/Effra-Bold.woff') format('woff'),
        url('../fonts/Effra-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gooddognew';
    src: local('Effra Bold'), local('Effra-Bold'),
        url('../fonts/gooddognew.woff2') format('woff2'),
        url('../fonts/gooddognew.woff') format('woff'),
        url('../fonts/gooddognew.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}








